@import url("https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");

@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900");

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Cormorant Garamond';
    src: url(../fonts/CormorantGaramond-Regular.ttf) format('truetype');
    font-weight: 400; /* Regular weight */
    font-style: normal; /* Normal style */
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url(../fonts/CormorantGaramond-Bold.ttf) format('truetype');
    font-weight: 700; /* Bold weight */
    font-style: normal; /* Normal style */
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url(../fonts/CormorantGaramond-Light.ttf) format('truetype');
    font-weight: 300; /* Light weight */
    font-style: normal; /* Normal style */
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url(../fonts/CormorantGaramond-LightItalic.ttf) format('truetype');
    font-weight: 300; /* Light weight */
    font-style: italic; /* Italic style */
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url(../fonts/CormorantGaramond-BoldItalic.ttf) format('truetype');
    font-weight: 700; /* Bold weight */
    font-style: italic; /* Italic style */
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url(../fonts/CormorantGaramond-Medium.ttf) format('truetype');
    font-weight: 500; /* Medium weight */
    font-style: normal; /* Normal style */
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url(../fonts/CormorantGaramond-MediumItalic.ttf) format('truetype');
    font-weight: 500; /* Medium weight */
    font-style: italic; /* Italic style */
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Cormorant Garamond", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased; /* WebKit-based browsers */

}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

small{
    font-family: 'Raleway', sans-serif;
    margin-top: 2px;
    font-size: 12px;
}

p, a, button, label, li {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    font-family: 'Raleway', sans-serif;
}



input, span, select, option{
    font-family: 'Raleway', sans-serif;
}



a {
    text-decoration: none;
}


@media (max-width: 1000px) {
    h1 {
        font-size: 32px;
    }
}