:root{
    --primary-color: #2E4CFA;
    --ash-grey: #444;
    --black-opacity: #000000a7;
    --blue-opacity: #040615c2;
    --main-white: #fff; 
    --main-black: #040615;
    --text-light: #6a6a6a;
    --text-semidark: #444;
    --off-white: #F6F5F5;
    --main-black-light: #04122D;


}